# Git attributes
# https://git-scm.com/docs/gitattributes
# https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes

# Normalize line endings for all files that git determines to be text.
# https://git-scm.com/docs/gitattributes#gitattributes-Settostringvalueauto
* text=auto

*.cs     text diff=csharp
*.html   text diff=html

*.csproj text merge=union
*.sln    text merge=union eol=crlf
