{{>partial_header}}

using Xunit;

using System;
using System.Linq;
using System.IO;
using System.Collections.Generic;
using {{packageName}}.{{modelPackage}};
using {{packageName}}.{{clientPackage}};
using System.Reflection;

{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum_test}}{{/isEnum}}{{^isEnum}}{{#oneOf}}{{#-first}}{{>modelOneOf_test}}{{/-first}}{{/oneOf}}{{#anyOf}}{{#-first}}{{>modelAnyOf_test}}{{/-first}}{{/anyOf}}{{^oneOf}}{{^anyOf}}{{>modelGeneric_test}}{{/anyOf}}{{/oneOf}}{{/isEnum}}
{{/model}}
{{/models}}
