[JsonPropertyName("{{baseName}}"){{^isReadOnly}}, JsonPropertyOrder({{-index}}){{/isReadOnly}}{{#isReadOnly}}, JsonInclude{{/isReadOnly}}{{#isWriteOnly}}, JsonWriteOnly{{/isWriteOnly}}{{#isDate}}, JsonConverter(typeof(DateJsonConverter)){{/isDate}}{{#deprecated}}, Obsolete{{/deprecated}}]